@charset "UTF-8";
/* ===== FUENTES ===== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #00ff40; 
    color: rgb(255, 255, 0); 
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 40px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00ffff; /* beige suave */
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

header h2 {
    margin: 0;
    font-weight: 700;
}
.btn-ok
{
    background-color: #BB9457; /* café claro */
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s;
}
.btn-logout {
    background-color: #BB9457; /* café claro */
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s;
}

.btn-logout:hover {
    background-color: #99582A; /* café medio */
}

/* ===== TABLA ===== */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    text-align: center;
}

table th {
    background-color: #BB9457; /* café claro */
    color: white;
}

table tr:nth-child(even) {
    background-color: #FFF1D6; /* beige muy claro */
}

/* ===== BOTONES ICONO ===== */
.btn-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 2px;
}

.btn-icon.edit {
    color: rgb(0, 128, 255); /* vino oscuro */
}

.btn-icon.delete {
    color: rgb(0, 128, 255); /* rojo */
}

.btn-icon.edit:hover {
    color: #BB9457;
}

.btn-icon.delete:hover {
    color: #99582A;
}

/* ===== FORMULARIOS ===== */
form {
    background-color: rgb(253, 132, 102); /* beige muy claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

form input, form select, form textarea {
    padding: 8px;
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    margin-bottom: 15px;
}

form button {
    background-color: rgb(255, 255, 128);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s;
}

form button:hover {
    background-color: #99582A;
}
